@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0000FF;
}

.dark {
  --color-primary: #60A5FA;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}
